@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Outfit";
  margin: 0;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 24px;
  margin: 0;
}
.attribution {
  margin-top: 25px;
  color: hsl(217, 91%, 73%);
}
.attribution a {
  margin: 0 5px;
  text-decoration: none;
}

.qr-container {
  width: 320px;
  min-height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  margin: 0;
}
.qr-container .text {
  margin: 0px 0px 20px 0px;
}
.text p {
  font-size: 15px;
  color: hsl(216, 15%, 48%);
  font-weight: 400;
}
.text h2 {
  font-size: 24px;
  font-weight: 700;
}
h3 {
  font-size: 24px;
}
.qr-container img {
  width: 96%;
  border-radius: 15px;
  margin-top: 8px;
}

/* @media (min-width: 550px) {
  .qr-container {
    width: 350px;
  }
} */
