* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: hsl(228, 45%, 44%);
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.qr-container {
  width: 330px;
  min-height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.qr-container .text {
  margin: 20px;
}
.qr-container img {
  width: 96%;
  border-radius: 10px;
  margin-top: 8px;
}

@media (min-width: 768px) {
  .qr-container {
    width: 350px;
  }
}
